/**************************** General styles ******************************/
body {
    font-family: 'Helvetica', Arial, sans-serif;
    background-color: #F2F1EF;
    display: flex;
    height: auto;
}

/**************************** Menu styles ******************************/
#menu {
    background-color: lightblue;
    margin-bottom: 60px;
}


/**************************** Clock styles ******************************/
.clock-container {
    text-align: center;
    margin-top: 50px;
}
.clock-container .clock-timer {
    text-align: center;
    height: 500px;
    width: 500px;
    font-size: 400px;
}

@media (min-width: 768px) {

}